<view class="address">
  <form onSubmit="return submitForm">
<list-item align="middle">      姓名        
    <view slot="extra">          张兆林    
    </view>
  </list-item>
  <list-item align="middle">      身份证号        
    <view slot="extra">          张兆林        
    </view>
  </list-item>
  <list-item align="middle">      寄送地址        
    <view slot="extra" onTap="selectAddress">
      {{addr}}
    </view>
  </list-item>
  <list-item align="middle">        详细地址        
    <view slot="extra">
      <input type="text" placeholder="详细地址"/>
    </view>
  </list-item>
  <list-item align="middle">        手机号        
    <view slot="extra">
      <input type="text" placeholder="本人手机号"/>
    </view>
  </list-item>
  <list-item align="middle">        手机验证码        
    <view slot="extra" class="yzCode">
      <input type="text" placeholder="请输入" class=""/>
      <text>发送验证码
      </text>
    </view>
  </list-item>
  
  </form>
    <button type="primary">提交</button>
</view>